@use 'components/theme-config';
@use 'components/report-node-status';
@use 'components/step-table';
@use 'core-variables' as var;

@forward 'components/theme-config';
@forward 'components/report-node-status';
@forward 'components/report-node';
@forward 'components/step-table';
@forward 'components/step-icon';
@forward 'components/step-inputs' show step-form-field-vertical-layout;
@forward 'components/step-buttons' show button-round;

@mixin status-common {
  display: inline-flex;
  align-items: center;
  min-height: 16px;
  padding: 3px 10px;
  font-weight: normal;
  justify-content: center;
}

@mixin status-left-side {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

@mixin status-right-side {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

@mixin status-shape {
  @include status-common;
  @include status-left-side;
  @include status-right-side;
}

@mixin full-height-block {
  display: block;
  height: 100%;
}

@mixin common-form-content($gap: 1rem) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin common-dialog-content {
  @include common-form-content(1.5rem);
}

@mixin mat-card-header-container($font-size: 1.5rem) {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  mat-card-title {
    font-size: $font-size;
    margin-bottom: 0;
  }
}

@mixin unset-item {
  .unset-item {
    text-decoration: underline;
    font-style: italic;
    color: var.$blue-650;
    min-height: 3rem;
    font-size: 1.4rem;
    padding-left: calc(100% - 5rem);
  }
}
