@use 'components/theme-config';
@use 'components/report-node-status';
@use 'components/step-table';
@use 'core-variables' as var;

@forward 'components/theme-config';
@forward 'components/report-node-status';
@forward 'components/report-node';
@forward 'components/step-table';
@forward 'components/step-icon';

@mixin status-common {
  display: inline-flex;
  align-items: center;
  min-height: 16px;
  padding: 3px 10px;
  font-weight: normal;
  justify-content: center;
}

@mixin status-left-side {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

@mixin status-right-side {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

@mixin status-shape {
  @include status-common;
  @include status-left-side;
  @include status-right-side;
}

@mixin full-height-block {
  display: block;
  height: 100%;
}

@mixin tree-node-selected-for-insert($color) {
  step-tree-node .tree-node.tree-node-selected-for-insert .node-content .node-icon {
    background: var.$white;
    border: 1px solid $color;
    color: $color;
  }
}
