$white: #fff;
$dark-gray: #555;
$muted: #777;
$muted-light: #7c7c7c;
$on: #35c163;
$of: #d90606;
$light-blue: #beebff;
$light-gray: #a0a0a0;
$light-white-gray: #ddd;
$light-blue-gray: #f2f4f7;
$dark-blue: #0082cb;
$orange: #ff8f4b;
$highlight: #293e500d;
$glass: #ffffff22;

//#region Gray
$gray-50: #f9fafb;
$gray-100: #f2f4f7;
$gray-125: #b7b7b7;
$gray-150: #bdbbbb;
$gray-200: #eaecf0;
$gray-300: #d0d5dd;
$gray-400: #98a2b3;
$gray-450: #878787;
$gray-500: #667085;
$gray-525: #6d6d6d;
$gray-550: #4b5565;
$gray-700: #344054;
$gray-750: #364152;
$gray-800: #1d2939;
//#endregion

//#region Blue
$blue-10: #d9edf7;
$blue-15: #bce8f1;
$blue-50: #6494c4;
$blue-100: #4daeff;
$blue-600: #0082cb;
$blue-625: #006299;
$blue-650: #31708f;
$blue-675: #337ab7;
$blue-700: #293e50;
//#endregion

//#region Red
$red-10: #f2dede;
$red-15: #ebccd1;
$red-50: #d9534f;
$red-100: #ff0000;
$red-650: #a94442;
//#endregion

//#region yellow
$yellow-5: #fffdb0;
$yellow-10: #fcf8e3;
$yellow-15: #faebcc;
$yellow-20: #ead5bd;
$yellow-600: #ab793b;
$yellow-650: #8a6d3b;

//#endregion

//#region-green
$green-10: #dff0d8;
$green-15: #d6e9c6;
$green-650: #3c763d;
//#endregion

//#region Material
// :hover
$mat-hover-overlay-opacity: 0.04;
// :focus
$mat-focus-overlay-opacity: 0.12;
// :disabled
$mat-disabled-color: rgba(0, 0, 0, 0.26);
$mat-disabled-background-color: rgba(0, 0, 0, 0.12);
//#endregion

$statuses: (
  'UNKNOW': var(--status-UNKNOW),
  'ENDED': var(--status-ENDED),
  'INITIALIZING': var(--status-INITIALIZING),
  'IMPORTING': var(--status-IMPORTING),
  'EXPORTING': var(--status-EXPORTING),
  'DELAYED_UPDATE': var(--status-DELAYED_UPDATE),
  'RUNNING': var(--status-RUNNING),
  'ABORTING': var(--status-ABORTING),
  'FORCING_ABORT': var(--status-FORCING_ABORT),
  'SKIPPED': var(--status-SKIPPED),
  'NORUN': var(--status-NORUN),
  'PASSED': var(--status-PASSED),
  'FAILED': var(--status-FAILED),
  'TECHNICAL_ERROR': var(--status-TECHNICAL_ERROR),
  'INTERRUPTED': var(--status-INTERRUPTED),
  'IMPORT_ERROR': var(--status-IMPORT_ERROR),
  'VETOED': var(--status-VETOED),
  'ESTIMATING': var(--status-ESTIMATING),
  'PROVISIONING': var(--status-PROVISIONING),
  'DEPROVISIONING': var(--status-DEPROVISIONING),
);

$tokenstates: (
  'IN_USE': #65a9e0,
  'ERROR': black,
  'FREE': #5cb85c,
  'MAINTENANCE_REQUESTED': #749dc0,
  'MAINTENANCE': #fbd544,
);

$code-font: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'Source Code Pro', 'source-code-pro', monospace;
