$white: #fff;
$dark-gray: #555;
$muted: #777;
$on: #35c163;
$of: #d90606;
$light-blue: #beebff;
$light-gray: #a0a0a0;
$light-blue-gray: #f2f4f7;
$dark-blue: #0082cb;

$statuses: (
  'UNKNOWN': #dadada,
  'ENDED': gray,
  'INITIALIZING': gray,
  'IMPORTING': orange,
  'RUNNING': #337ab7,
  'ABORTING': #d9534f,
  'SKIPPED': #a0a0a0,
  'NORUN': #a0a0a0,
  'PASSED': #5cb85c,
  'FAILED': #d9534f,
  'TECHNICAL_ERROR': black,
  'INTERRRUPTED': #f9c038,
);

$tokenstates: (
  'IN_USE': #337ab7,
  'ERROR': black,
  'FREE': #5cb85c,
  'MAINTENANCE_REQUESTED': #749dc0,
  'MAINTENANCE': #fbd544,
);
