$white: #fff;
$black: #000;
$muted: #777;
$muted-light: #7c7c7c;
$on: #01a990;
$of: #ff595b;
$light-blue: #beebff;
$light-white-gray: #ddd;
$light-blue-gray: #f2f4f7;
$dark-blue: #0082cb;
$orange: #ff8f15;
$highlight: #e0e2e5;
$glass: #ffffff22;
$transparent: #00000000;
$white-transparent: #ffffffe0;
$gold: #bead00;
$light-gold: #ffd119;

//#region Gray
$gray-25: #fbfbfb;
$gray-50: #f9fafb;
$gray-75: #f6f7f8;
$gray-100: #f2f4f7;
$gray-125: #b7b7b7;
$gray-150: #bdbbbb;
$gray-200: #eaecf0;
$gray-300: #d0d5dd;
$gray-400: #98a2b3;
$gray-450: #8a94a3;
$gray-500: #667085;
$gray-525: #5c6575;
$gray-550: #4b5565;
$gray-700: #344054;
$gray-750: #364152;
$gray-800: #1d2939;
//#endregion

//#region Blue
$blue-10: #d9edf7;
$blue-15: #bce8f1;
$blue-50: #6494c4;
$blue-100: #4daeff;
$blue-600: #0082cb;
$blue-625: #006299;
$blue-650: #31708f;
$blue-675: #337ab7;
$blue-700: #293e50;
//#endregion

//#region Red
$red-10: #ffeeee;
$red-15: #ffcdce;
$red-50: #ff7a7b;
$red-100: #ff0000;
$red-650: #ff595b;
//#endregion

//#region yellow
$yellow-5: #fffdb0;
$yellow-7: #ffeeac;
$yellow-10: #fcfae5;
$yellow-15: #f7eeb3;
$yellow-20: #ece066;
$yellow-600: #d4c000;
$yellow-650: #e1cc01;
//#endregion

//#region Orange
$orange-10: #fff8ef;
$orange-15: #ffe9d2;
$orange-50: #ffc585;
$orange-100: #ff8f15;
$orange-650: #ffb768;
//#endregion

//#region-green
$green-10: #e6f6f5;
$green-15: #b2e5de;
$green-650: #01a990;
//#endregion

//#region Material
// :hover
$mat-hover-overlay-opacity: 0.04;
// :focus
$mat-focus-overlay-opacity: 0.12;
// :disabled
$mat-disabled-color: rgba(0, 0, 0, 0.26);
$mat-disabled-background-color: rgba(0, 0, 0, 0.12);
//#endregion

$statuses: (
  'UNKNOW': var(--status-UNKNOW),
  'ENDED': var(--status-ENDED),
  'INITIALIZING': var(--status-INITIALIZING),
  'IMPORTING': var(--status-IMPORTING),
  'EXPORTING': var(--status-EXPORTING),
  'DELAYED_UPDATE': var(--status-DELAYED_UPDATE),
  'SCHEDULED_RELOAD': var(--status-SCHEDULED_RELOAD),
  'RELOAD_FAILED': var(--status-RELOAD_FAILED),
  'RUNNING': var(--status-RUNNING),
  'ABORTING': var(--status-ABORTING),
  'FORCING_ABORT': var(--status-FORCING_ABORT),
  'SKIPPED': var(--status-SKIPPED),
  'NORUN': var(--status-NORUN),
  'PASSED': var(--status-PASSED),
  'FAILED': var(--status-FAILED),
  'TECHNICAL_ERROR': var(--status-TECHNICAL_ERROR),
  'INTERRUPTED': var(--status-INTERRUPTED),
  'IMPORT_ERROR': var(--status-IMPORT_ERROR),
  'VETOED': var(--status-VETOED),
  'ESTIMATING': var(--status-ESTIMATING),
  'PROVISIONING': var(--status-PROVISIONING),
  'DEPROVISIONING': var(--status-DEPROVISIONING),
);

$tokenstates: (
  'IN_USE': #0082cd,
  'ERROR': black,
  'FREE': #01a990,
  'MAINTENANCE_REQUESTED': #66b5e0,
  'MAINTENANCE': #e1cc01,
);

$code-font: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'Source Code Pro', 'source-code-pro', monospace;
