import { NgModule } from '@angular/core';
import { BrowserModule } from '@angular/platform-browser';
import { UpgradeModule } from '@angular/upgrade/static';

import { AppComponent } from './app.component';
import { PluginModule } from './modules/plugin/plugin.module';

@NgModule({
  declarations: [
    AppComponent
  ],
  imports: [
    PluginModule,
    BrowserModule
  ],
  providers: [],
  bootstrap: [AppComponent]
})
export class AppModule {
}
