/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '@angular/material/theming';

$material-design-icons-font-directory-path: '~material-design-icons-iconfont/dist/fonts/';
@import '~material-design-icons-iconfont/src/material-design-icons';

@include angular-material-typography();

/* You can add global styles to this file, and also import other style files */
.w-100 {
  width: 100%;
}

button.primary {
  background-color: var(--button-color);
  color: white;
}

body {
  background-color: #f3f1f1;
}

.ts-tooltip {
  position: absolute;
  z-index: 1000;
  pointer-events: none;
  display: block;
  padding: 8px 12px;
  background: #fffaf2d9;
  box-shadow: 2px 2px 5px 2px #a3a3a3;

  .tooltip-row {
    display: flex;
    align-items: center;
    flex-direction: row;

    .color {
      width: 20px;
      height: 10px;
      margin-right: 8px;
    }
  }

  .dots {
    font-size: 18px;
  }
}
