/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '@angular/material/theming';

$material-design-icons-font-directory-path: '~material-design-icons-iconfont/dist/fonts/';
@import '~material-design-icons-iconfont/src/material-design-icons';

@include angular-material-typography();

/* You can add global styles to this file, and also import other style files */
.w-100 {
  width: 100%;
}

#main > div {
  margin-top: -24px;
}

button.primary {
  background-color: var(--button-color);
  color: white;
}

body {
  background-color: white;
}

.container-fluid {
  padding: 0;
}

header.blue-header {
  height: 58px;

  #session-dropdown {
    color: white;
    user-select: none;
    background: none !important;
  }

  .dropdown-menu {
    min-width: auto;
    top: initial;
    left: initial;
    margin-left: -20px;

    li {
      width: 100%;
    }
  }

  .header-navbar {
    margin: 6px 20px;

    li {
      float: right;
    }
  }

  .header-parent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--dark-background-color);
  }

  .header-white-part {
    bottom: 0;
    height: 24px;
    background-color: white;
    border-radius: var(--top-blue-border-edge-radius) 0 0 0;
  }
}

.ts-tooltip {
  position: absolute;
  z-index: 1000;
  pointer-events: none;
  display: block;
  padding: 8px 12px;
  background: #fffaf2d9;
  box-shadow: 2px 2px 5px 2px #a3a3a3;

  .tooltip-row {
    display: flex;
    align-items: center;
    flex-direction: row;

    .color {
      width: 20px;
      height: 10px;
      margin-right: 8px;
    }
  }

  .dots {
    font-size: 18px;
  }
}

/* Design to align with new step layout */

#PlansCtrl {
  margin-top: 16px;
}

#main > div {
  max-height: calc(100vh - 36px);
  overflow: auto;

  /* Designing for scroll-bar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: gainsboro;
    border-radius: 5px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--dark-background-color);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--dark-background-color);
    opacity: 0.8;
  }

  .ng-scope {
    .row {
      margin-right: 0;
      margin-left: 0;
    }

    .panel,
    .panel-default > .panel-heading {
      background: none;
      border: none;
    }

    .panel-default > .panel-heading {
      font-weight: bold;
    }

    button,
    input[type='text'] {
      padding: 6px 12px;
      height: 32px;
    }

    input[type='text']:not(.mat-input-element) {
      /* Step - Colors/Primary/White */
      background: #ffffff;

      /* Menu grays/Gray border */
      border: 1px solid #d9d9d9;

      /* Shadow/xs */
      box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
      border-radius: 8px;
    }
  }
}
