@use 'projects/step-frontend/styles/common-mixins';
@import 'projects/step-frontend/styles/fonts-setup';

/* Design to align with new step layout */

#PlansCtrl {
  margin-top: 16px;
}

#main > div {
  height: calc(100vh - 36px);
  overflow: auto;

  /* Designing for scroll-bar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: gainsboro;
    border-radius: 5px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--dark-background-color);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--dark-background-color);
    opacity: 0.8;
  }

  .row {
    margin-right: 0;
    margin-left: 0;
  }

  .panel,
  .panel-default > .panel-heading {
    background: none;
    border: none;
  }

  .panel {
    box-shadow: none;
  }

  .panel-default > .panel-heading {
    font-weight: bold;
  }

  button.btn,
  input[type='text']:not([matinput]) {
    padding: 6px 12px;
    height: 32px;
  }

  .input-group {
    input[type='text'] {
      border-bottom-right-radius: 0 !important;
      border-top-right-radius: 0 !important;
    }
  }

  input[type='text']:not(.mat-input-element),
  textarea:not(.mat-input-element) {
    /* Step - Colors/Primary/White */
    background: #ffffff;

    /* Menu grays/Gray border */
    border: 1px solid #d9d9d9;

    /* Shadow/xs */
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
  }

  step-tabs.tab-mode-buttons nav {
    border: none;
  }

  #QuotaManagerCtrl {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    div.middle {
      height: 100%;
      width: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      > .above {
        display: flex;
        justify-content: end;
        flex-direction: row;
        width: 100%;
        margin-bottom: 8px;
      }

      > textarea {
        font-size: 14px;
        width: 500px;
      }
    }
  }
}

.modal-dialog .modal-content {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  gap: 32px;

  position: relative;
  width: 598px;
  height: 524px;

  /* Step - Colors/Primary/White */

  background: #ffffff;
  /* Shadow/xl */

  box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08), 0px 8px 8px -4px rgba(16, 24, 40, 0.03);
  border-radius: 12px;
}

@include common-mixins.common-styles();
@include common-mixins.ts-tooltip();
