@use 'projects/step-core/styles/core-mixins' as core;

@mixin common-styles {
  .w-100 {
    width: 100%;
  }

  .container-fluid {
    padding: 0;
  }

  .full-height-block {
    @include core.full-height-block;
  }

  #step-main-scrollable-content {
    height: calc(100vh - 36px);
    overflow: auto;
    overflow-x: scroll;
  }
}
