@mixin common-styles {
  .w-100 {
    width: 100%;
  }

  .container-fluid {
    padding: 0;
  }

  .full-height-block {
    display: block;
    height: 100%;
  }

  #step-main-scrollable-content {
    flex: 1;
    overflow: auto;
  }
}
