@function custom-menu-panel-selector($name) {
  $selector: 'div.mat-mdc-menu-panel.' + $name;
  @return $selector;
}

@function custom-menu-item-selector($name) {
  $selector: 'span.mat-mdc-menu-item.' + $name;
  @return $selector;
}

@mixin custom-menu($name) {
  $item-selector: custom-menu-item-selector($name);
  #{$item-selector} {
    height: auto;
    font-size: inherit;
    line-height: initial;
    font-weight: initial;

    &.cdk-program-focused:not([disabled]),
    &:hover:not([disabled]) {
      background: transparent;
    }
  }
}
