@use 'sass:map';
@use 'projects/step-core/styles/core-variables' as var;
@use 'projects/step-core/styles/core-mixins' as core;

@mixin execution-shared-styles {
  @include execution-report-node-inline-details;
  @include execution-report-node-details;
  @include highlight-inline-item;
  @include special-selection;
  @include status-icon;

  .larger-view {
    font-size: 1.4rem;
    step-icon {
      @include core.step-icon-size(2rem, true);
    }
  }

  step-icon.larger-icon {
    @include core.step-icon-size(2rem, true);
  }

  step-artefact-inline-details.shift-rows {
    max-width: calc(100% - 4rem);
    .execution-report-node-inline-details > :not(:first-child) {
      transform: translateX(4rem);
    }
  }
}

@mixin highlight-inline-item {
  .highlight-inline-item {
    border-radius: 1rem;
    padding: 0.2rem 0.3rem 0.2rem 0.3rem;
    margin-left: 0.1rem;
    margin-right: var(--style__margin, 0rem) !important;
    cursor: pointer;

    &:hover {
      border: solid 0.1rem var.$blue-600;
      margin-left: 0;
      margin-right: calc(var(--style__margin, 0rem) - 0.1rem) !important;
      padding: 0.1rem 0.3rem 0.1rem 0.3rem;
    }
  }
}

@mixin execution-report-node-inline-details {
  .default-attachment-popover-view {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    font-size: 1.2rem;
    step-icon {
      @include core.step-icon-size(1.4rem);
    }
  }

  .execution-report-node-inline-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    step-icon {
      @include core.step-icon-size(1.6rem);
    }

    .hidden {
      display: none;
    }

    .etc-container {
      display: flex;
      gap: 0.5rem;
      flex-direction: column;
    }

    .error-container {
      display: flex;
      gap: 0.5rem;

      step-icon {
        color: map.get(var.$statuses, 'FAILED');
      }

      .error-text {
        overflow: hidden;
        max-width: 100%;
        text-overflow: ellipsis;
        white-space: break-spaces;
      }
    }
  }
}

@mixin execution-report-node-details {
  .execution-report-node-details {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    font-size: 1.2rem;

    .hidden {
      display: none;
    }

    .container-title {
      font-weight: bold;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin-bottom: 0.5rem;

      .gap {
        flex: 1;
      }
    }

    .json-container {
      position: relative;
      min-height: 2rem;
      padding-right: 4rem;
      width: min-content;
      min-width: 100%;

      button {
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    .data-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      &.error {
        flex-direction: row;
        .error-text {
          width: min-content;
          min-width: 95%;
        }
        step-icon {
          color: map.get(var.$statuses, 'FAILED');
        }
      }

      &.tech-details > .tech-details-content {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 1rem;
      }
    }
  }
}

@mixin special-selection {
  step-alt-execution-time.special-selection {
    position: relative;
    section {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      min-width: 15rem;
      padding: 0.4rem 2rem 0.4rem 0.4rem;
      &:after {
        content: ' ';
        position: absolute;
        display: block;
        background: var.$white;
        top: 0;
        bottom: 0;
        width: 0.5rem;
        right: 1rem;
        transform: skewX(-10deg);
      }
      .duration {
        text-align: left;
      }
    }
    &:after {
      @include special-selection-item;
    }
  }

  step-alt-execution-time.special-selection ~ * {
    z-index: 3;
  }

  step-table.special-selection {
    tr:hover {
      td {
        position: relative;
        & > * {
          z-index: 2;
          position: relative;
        }
        &:after {
          content: ' ';
          display: block;
          position: absolute;
          height: 3rem;
          left: 0;
          right: 0;
          top: 0;
          background: var.$light-blue-gray;
        }
        &:first-child:after {
          border-top-left-radius: 4rem;
          border-bottom-left-radius: 4rem;
        }
        &:last-child:after {
          border-top-right-radius: 4rem;
          border-bottom-right-radius: 4rem;
        }
      }
    }
  }
}

@mixin special-selection-item($percent: 50%, $width: 15rem) {
  content: ' ';
  position: absolute;
  display: block;
  background: linear-gradient(to right, var.$light-blue-gray $percent, var.$transparent);
  top: 0;
  bottom: 0;
  left: 100%;
  width: $width;
}

@mixin status-icon {
  @each $status, $color in var.$statuses {
    .step-icon-#{$status} {
      color: $color;
    }
  }
}
