@use './custom-menu' as customMenu;

@mixin executions-menu {
  @include customMenu.custom-menu('execution-menu');
  $panel-selector: customMenu.custom-menu-panel-selector('execution-menu');
  $item-selector: customMenu.custom-menu-item-selector('execution-menu');

  #{$panel-selector} {
    max-width: none;
  }

  #{$item-selector} {
    .interactive-parameters,
    step-execution-commands {
      min-width: 25rem;
      padding: 0.5rem;
    }

    .interactive-parameters {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding-bottom: 1rem;
    }
  }
}
