@use 'projects/step-core/styles/core-variables' as var;

@mixin input-groups {
  .input-group {
    display: flex;

    [ngf-drop] {
      flex: 1;
      display: flex;

      .form-control {
        border-radius: 8px 0 0 8px;
      }

      &:focus-within ~ .input-group-btn .btn:not(.active) {
        border-color: var.$blue-600 !important;
      }
    }

    .input-group-btn {
      display: flex;
      width: auto;

      .btn:first-child {
        border-radius: 0 !important;
        border-right-width: 0 !important;

        &::after {
          border-radius: 0 !important;
          border-right-width: 0 !important;
        }
      }

      .btn:not(:first-child):not(:last-child) {
        border-radius: 0 !important;

        ::after {
          border-radius: 0 !important;
        }

        &:last-of-type {
          border-radius: 0 8px 8px 0 !important;
          border-right-width: 1px !important;

          &::after {
            border-radius: 0 8px 8px 0 !important;
            border-right-width: 1px !important;
          }
        }
      }

      .btn:last-child {
        border-radius: 0 8px 8px 0 !important;

        &::after {
          border-radius: 0 8px 8px 0 !important;
        }
      }
    }

    .input-group-addon {
      width: auto;
    }
  }
}
