@use 'projects/step-core/styles/core-mixins' as mixins;

@mixin settings-menu {
  display: grid;
  grid-template-columns: max(15%, 15rem) 1fr;
  grid-template-rows: 2rem auto auto;
  height: calc(100vh - 10rem);

  gap: 3rem;
  padding: 0 3rem 3rem 3rem;
  justify-content: space-between;

  & > h3 {
    font-size: 2rem;
    grid-column: 1;
    grid-row: 1;
    white-space: nowrap;
  }

  mat-nav-list {
    width: 100%;
    grid-column: 1;
    grid-row: 2;

    @include mixins.nav-link-buttons;
  }

  .addon {
    grid-column: 1;
    grid-row: 3;
    align-self: flex-end;
  }

  .content {
    grid-column: 2;
    grid-row: 1/4;
  }
}
