@mixin ts-tooltip {
  .ts-tooltip {
    position: absolute;
    z-index: 1000;
    display: block;
    margin: 0 2.4rem;
    padding: 8px 12px;
    background: #fffaf2d9;
    box-shadow: 2px 2px 5px 2px #a3a3a3;
    top: 0; // this is a tricky fix. if top is not set it will make the container overflow

    .tooltip-row {
      display: flex;
      position: relative;
      align-items: center;
      flex-direction: row;
      white-space: nowrap;
      justify-content: space-between;

      .link {
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }

      .left {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-right: 2rem;
      }

      .color {
        width: 2rem;
        height: 1rem;
        margin-right: 0.8rem;
      }

      .name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 40rem;
      }
    }

    .link-row {
      padding: 0.5rem;
      max-width: 20rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    .tooltip-menu {
      position: absolute;
      background: #fff;
      min-width: 10rem;
      min-height: 7rem;
      top: -4px;
      border: 1px solid #d1d1d1;
      padding: 1rem;
      z-index: 1000;
    }

    .separator {
      height: 1px;
      width: 100%;
      background: #666666;
      margin: 4px 0;
      opacity: 0.2;
    }

    .timestamp {
      text-align: left;
      opacity: 0.5;
      font-size: 12px;
      white-space: nowrap;
    }

    .dots {
      font-size: 18px;
    }
  }
}
