@mixin ts-tooltip {
  .ts-tooltip {
    position: absolute;
    z-index: 100;
    display: block;
    margin: 0 2.4rem;
    top: 0; // this is a tricky fix. if top is not set it will make the container overflow
    cursor: default;
    background: #fffaf2d9;

    .container {
      padding: 8px 12px;
      background: #fffaf2d9;
      box-shadow: 2px 2px 5px 2px #a3a3a3;
    }

    &.pointer {
      cursor: pointer;
    }

    .tooltip-row {
      display: flex;
      position: relative;
      align-items: center;
      flex-direction: row;
      white-space: nowrap;
      justify-content: space-between;
      margin-bottom: 0.4rem;

      .left {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-right: 2rem;
      }

      .right {
        white-space: nowrap;
        display: flex;
      }

      .color {
        width: 2rem;
        height: 1rem;
        margin-right: 0.8rem;
      }

      .name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 40rem;
      }
    }

    .link-row {
      padding: 0.5rem;
      max-width: 40rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    .tooltip-menu {
      position: absolute;
      background: #fffbf5;
      min-width: 10rem;
      max-width: 40rem;
      text-overflow: ellipsis;
      overflow: hidden;
      top: -0.4rem;
      border: 1px solid #d1d1d1;
      padding: 0.6rem;
      z-index: 1000;
    }

    .separator {
      height: 1px;
      width: 100%;
      background: #666666;
      margin: 0.4rem 0;
      opacity: 0.2;
    }

    .timestamp {
      text-align: left;
      opacity: 0.5;
      font-size: 1.2rem;
      white-space: nowrap;
    }

    .dots {
      font-size: 1.8rem;
    }
  }

  .link-icon {
    margin-left: 0.6rem;
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    border: 2px solid;
    border-radius: 4px;
    cursor: pointer;
    transform: scale(0.9);
    padding: 6px;
    opacity: 0.8;

    &::after,
    &::before {
      content: '';
      display: block;
      box-sizing: border-box;
      position: absolute;
      right: 4px;
      top: 0;
    }

    &::after {
      width: 8px;
      height: 2px;
      background: currentColor;
      transform: rotate(-45deg);
      /* bottom: 4px; */
      left: 2px;
      top: 5px;
    }

    &::before {
      width: 6px;
      height: 6px;
      top: 2px;
      right: 2px;
      border-top: 2px solid;
      border-right: 2px solid;
    }
  }
}
