@use '../core-variables' as var;

@mixin mat-mdc-accordion {
  .mat-mdc-accordion .mat-mdc-expansion-panel:first-of-type {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  .mat-mdc-accordion .mat-mdc-expansion-panel:last-of-type {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .mat-mdc-accordion > .mat-mdc-expansion-panel:first-child,
  .mat-mdc-accordion > *:first-child .mat-mdc-expansion-panel {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }

  .mat-mdc-accordion > .mat-mdc-expansion-panel:last-child,
  .mat-mdc-accordion > *:last-child .mat-mdc-expansion-panel {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }
}

@mixin mat-mdc-card {
  .mat-mdc-card {
    border-radius: 8px;
  }
}

@mixin mat-mdc-expansion-panel {
  step-modal-window .mat-mdc-expansion-panel {
    border: 1px solid var.$gray-300;
    border-radius: 0.8rem;

    .mat-mdc-expansion-panel-header {
      padding: 0 1.6rem;
      height: 4rem;

      .mat-mdc-expansion-panel-header-title {
        font-weight: 500;
      }

      &.mat-mdc-expanded {
        border-bottom: 1px solid var.$gray-300;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    .mat-mdc-expansion-panel-content {
      font-size: 1.4rem;

      .mat-mdc-expansion-panel-body {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        padding: 1.2rem 1.6rem;
      }
    }

    &:not([class*='mat-elevation-z']) {
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14),
        0px 0px 0px 0px rgba(0, 0, 0, 0.12);
    }
  }
}

@mixin mat-mdc-chip-list {
  /**
  This will create a nice scrollbar inside the form field when the chips content are very long.
  Otherwise they will overflow the container.
   */
  .mat-mdc-chip-list-wrapper {
    overflow-x: auto;
  }
}

@mixin mat-mdc-menu {
  .mat-mdc-menu-panel.wide {
    max-width: 38rem;
    width: 38rem;
  }
  .mat-mdc-menu-item-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
}

@mixin mat-mdc-checkbox {
  .mat-mdc-checkbox-label {
    font-weight: 500;
  }
  .mat-mdc-checkbox-background,
  .mat-mdc-checkbox-frame {
    border-radius: 0.4rem;
  }
  --mdc-checkbox-state-layer-size: 1.6rem;
  .mat-mdc-checkbox-touch-target {
    width: 1.6rem;
    height: 1.6rem;
  }
  .mdc-checkbox {
    width: 1.6rem;
    height: 1.6rem;
    flex: 0 0 1.6rem;
  }
  .mdc-checkbox__background {
    width: 1.6rem;
    height: 1.6rem;
  }
}

@mixin mat-mdc-paginator {
  .mat-mdc-paginator {
    --mat-form-field-container-height: 2rem;
    --mat-form-field-container-vertical-padding: 0.2rem;
    --mat-form-field-filled-with-label-container-padding-top: 0.2rem;
    --mat-form-field-filled-with-label-container-padding-bottom: 0.2rem;
    --mat-paginator-container-text-size: 1.2rem;
  }
}

@mixin mat-button {
  .mdc-button__label {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    align-items: center;
  }
}

@mixin mat-table {
  --mat-table-row-item-container-height: 4.8rem;
  --mat-table-footer-container-height: 4.8rem;
  --mat-table-header-container-height: 4.8rem;
}

@mixin mat-select($primary-color) {
  --mat-minimal-pseudo-checkbox-selected-checkmark-color: #{$primary-color};
  .mat-mdc-select-arrow-wrapper {
    height: 1.6rem;
  }
}

@mixin material-overrides($primary-color) {
  @include mat-mdc-accordion;
  @include mat-mdc-card;
  @include mat-mdc-expansion-panel;
  @include mat-mdc-chip-list;
  @include mat-mdc-menu;
  @include mat-mdc-checkbox;
  @include mat-mdc-paginator;
  @include mat-table;
  @include mat-button;
  @include mat-select($primary-color);
}
