@use '../core-variables' as var;

@mixin reportNodeHeader() {
  .report-node-header {
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 4px;
  }
}

@mixin reportNodeLink() {
  .report-node-link,
  .report-node-link > a {
    color: var.$gray-525;
    font-size: 12px;
    font-style: italic;
  }
}

@mixin reportNodeText() {
  .report-node-text {
    color: var.$gray-525;
    font-size: 12px !important;
    overflow-wrap: anywhere;
    -ms-word-wrap: anywhere;
  }
}

@mixin reportNodeTextMuted() {
  .report-node-text-muted {
    color: var.$muted;
    white-space: nowrap;
  }
}
