@use 'sass:map';
@use '../core-variables' as var;

@mixin reportNodeStatus($status, $color) {
  .step-node-status-#{$status} {
    background: $color;
    color: $color;
  }
}

@mixin reportNodeStatuses {
  @each $status, $color in var.$statuses {
    @include reportNodeStatus($status, $color);
  }
}

@mixin altStatus($status, $color, $background) {
  .step-node-alt-status-#{$status} {
    background: $background;
    color: $color;
  }
}

@mixin altStatuses {
  @each $status, $backgroundColor in var.$alt-statuses {
    $color: map.get(var.$statuses, $status);
    @include altStatus($status, $color, $backgroundColor);
  }
}
