@use 'sass:map';
@use 'default-colors' as dc;

$default-color: dc.default-colors();

@function step-define-sidebar-config(
  $background-color: map.get($default-color, main-header-bg-color),
  $menu-color: rgba(255, 255, 255, 0.1),
  $selection-color: rgba(255, 255, 255, 0.1),
  $divider-color: rgba(255, 255, 255, 0.2),
  $menu-secondary: map.get($default-color, main-header-color),
  $menu-text: map.get($default-color, main-header-hover-color),
  $width-open: 254px,
  $width-closed: 72px,
  $width-closed-small-screen: 48px,
  $openclose-transition: 0.2s,
  $logo-and-burgermenu-height: 48px,
  $home-and-settings-height: 64px,
  $help-and-support-height: 56px,
  $elements-padding: 12px,
  $elements-text-padding: 14px,
  $settings-divider-padding-right: 45px,
  $aligned-text-margin-left: 60px
) {
  $config: (
    background-color: $background-color,
    menu-color: $menu-color,
    selection-color: $selection-color,
    divider-color: $divider-color,
    menu-secondary: $menu-secondary,
    menu-text: $menu-text,
    width-open: $width-open,
    width-closed: $width-closed,
    width-closed-small-screen: $width-closed-small-screen,
    openclose-transition: $openclose-transition,
    logo-and-burgermenu-height: $logo-and-burgermenu-height,
    home-and-settings-height: $home-and-settings-height,
    help-and-support-height: $help-and-support-height,
    elements-padding: $elements-padding,
    elements-text-padding: $elements-text-padding,
    settings-divider-padding-right: $settings-divider-padding-right,
    aligned-text-margin-left: $aligned-text-margin-left,
  );

  @return $config;
}

@mixin overlay($color) {
  content: ' ';
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background: $color;
}

$menu-item-height: 4.8rem;
$menu-sub-item-height: 3.2rem;

@mixin sidebar($config: null) {
  @if not $config {
    $config: step-define-sidebar-config();
  }

  $elements-text-padding: map.get($config, elements-text-padding);

  #main {
    transition: margin-left map.get($config, openclose-transition);
    margin-left: map.get($config, width-open);
    display: flex;
    flex-direction: column;
    height: 100vh;

    #mainView {
      z-index: 0;
    }
  }

  #main.main-when-sidebar-closed {
    margin-left: map.get($config, width-closed);
  }

  #main.main-when-sidebar-closed-small-screen {
    margin-left: map.get($config, width-closed-small-screen);
  }

  step-tenant-selection {
    display: block;
    position: fixed;
    top: 6.2rem;
    left: 5.6rem;
    z-index: 3;
    max-width: 15rem;
    min-width: 15rem;
  }

  .tenant-selector-when-sidebar-closed {
    display: none;
  }

  step-sidebar {
    .sidebar {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      height: 100%;
      width: 0;
      position: fixed;
      z-index: 2;
      top: 0;
      left: 0;
      background-color: map.get($config, background-color);
      overflow-x: hidden;
      transition: map.get($config, openclose-transition);
      color: map.get($config, menu-text);

      -ms-overflow-style: none; /* No Scrollbar: IE and Edge */
      scrollbar-width: none; /* No Scrollbar: Firefox */

      > div {
        padding: 0 $elements-text-padding;

        display: flex;
        align-items: center;
      }

      &.sidebar-closed.small-screen > div {
        padding: 0 2px;
      }

      a {
        color: map.get($config, menu-text);
      }

      a:link {
        text-decoration: none;
      }

      a:visited {
        text-decoration: none;
      }

      a:hover {
        text-decoration: none;
      }

      a:active {
        text-decoration: none;
      }
    }

    .sidebar::-webkit-scrollbar {
      display: none;
    }

    .sidebar-logo-container {
      position: absolute;
      left: 60px;
    }

    .sidebar-logo {
      width: 100%;
      height: 30px;
      margin-left: -12px;
      transform: scale(0.8);
      background: var(--step-logo-path) no-repeat no-repeat;
      background-size: contain;
    }

    #sidebar-collapsed-settings-icon {
      visibility: hidden;
    }

    #sidebar-logo-and-burgermenu {
      position: fixed;
      z-index: 100;
      background-color: map.get($config, background-color);
      width: map.get($config, width-open);
      height: map.get($config, logo-and-burgermenu-height);
      transition: map.get($config, openclose-transition);

      > span {
        width: 180px;
        padding: map.get($config, elements-text-padding);
      }

      label {
        cursor: pointer;
      }
    }

    #sidebar-home-and-settings {
      position: fixed;
      z-index: 100;
      background-color: map.get($config, background-color);
      width: map.get($config, width-open);
      margin-top: map.get($config, logo-and-burgermenu-height);
      height: map.get($config, home-and-settings-height);
      border-top: 1px solid map.get($config, divider-color);
      border-bottom: 1px solid map.get($config, divider-color);
      transition: map.get($config, openclose-transition);

      > span {
        position: absolute;
        padding: map.get($config, elements-text-padding);
      }

      > div {
        padding: map.get($config, elements-text-padding);
      }

      > .sidebar-home-and-settings-icon {
        right: map.get($config, elements-text-padding);
        margin-right: -10px;
        font-size: medium;
        cursor: pointer;
        position: absolute;
        padding: 18px 14px 14px 14px;
      }
    }

    .sidebar-home-button {
      cursor: pointer;
    }

    .sidebar-home-and-settings-icon-collapsed {
      cursor: pointer;
    }

    #sidebar-categories {
      $logoHeight: map.get($config, logo-and-burgermenu-height);
      $homeSettingHeight: map.get($config, home-and-settings-height);

      display: block;
      flex-grow: 1;
      padding-top: 16px;
      margin-top: calc(#{$logoHeight} + #{$homeSettingHeight});
    }

    div#sidebar-categories-tabs {
      $helpSupportHeight: map.get($config, help-and-support-height);
      margin-bottom: calc(#{$helpSupportHeight} + 16px);

      .sidebar-collapsable-tab {
        &:first-child {
          & > label {
            padding-top: 0.6rem;
          }
          &::before {
            display: block;
            content: ' ';
            height: 0.8rem;
            background-color: map.get($config, menu-color);
            border-radius: 0.8rem 0.8rem 0 0;
          }
        }
        &:last-child {
          & > label {
            padding-bottom: 0.6rem;
          }
          &::after {
            display: block;
            content: ' ';
            height: 0.8rem;
            background-color: map.get($config, menu-color);
            border-radius: 0 0 0.8rem 0.8rem;
          }
        }
      }
    }

    #sidebar-cost-and-upgrade > div {
      padding: map.get($config, elements-text-padding);
    }

    #sidebar-bottom {
      position: fixed;
      z-index: 100;
      background-color: map.get($config, background-color);
      width: map.get($config, width-open);
      bottom: 0px;
      height: map.get($config, help-and-support-height);
      font-size: small;
      flex-direction: column;
      justify-content: center;
      border-top: 1px solid map.get($config, divider-color);
      transition: map.get($config, openclose-transition);

      .help-and-support-span {
        padding: 0 0 0 8px;
      }

      > div {
        padding: map.get($config, elements-text-padding);
      }
    }

    /* (A) TABS CONTAINER */
    .sidebar-collapsable-tab,
    .sidebar-collapsable-tab * {
      box-sizing: border-box;
    }

    .sidebar-collapsable-tab {
      font-weight: bold;
      margin-top: 1px;
      max-width: 600px;

      input {
        display: none;
      }

      label {
        /* (C1) DIMENSIONS */
        position: relative; /* required for (f2) position:absolute */
        display: block;
        width: 100%;
        padding: 1.4rem;

        /* (C2) COSMETICS */
        color: map.get($config, menu-text);
        background: map.get($config, menu-color);
        cursor: pointer;

        &.no-children:hover,
        &.active-primary-item {
          &::before {
            @include overlay(map.get($config, selection-color));
          }
        }

        &.no-children:hover .sidebar-aligned-text::after {
          @include overlay(map.get($config, selection-color));
        }
      }

      .content {
        background: map.get($config, menu-color);
        overflow: hidden;
        transition: max-height;
        max-height: 0;
        font-weight: normal;
        align-items: center;
      }

      .sidebar-subtab {
        display: flex;
        align-items: center;
        height: $menu-sub-item-height;
        padding: 0 1.4rem 0 1.6rem;
        cursor: pointer;
        color: map.get($config, menu-secondary);
      }

      .sidebar-sub-subtab {
        display: flex;
        align-items: center;
        height: $menu-sub-item-height;
        padding: 0 1.4rem 0 1rem;
        cursor: pointer;
        justify-content: space-between;
        color: map.get($config, menu-secondary);

        step-icon {
          stroke-width: 1px;
        }

        .sidebar-aligned-sub-subtext {
          margin-left: 42px;
          font-size: 14px;
        }
      }

      input:checked ~ .content {
        max-height: 100vh;
      }

      input:not(:checked) ~ .content {
        visibility: hidden;
      }

      .chevron {
        position: absolute;
        right: 8px;
      }

      input:checked ~ label .chevron {
        transform: rotate(-90deg);
      }

      input:not(:checked) ~ label .chevron {
        transform: rotate(90deg);
      }
    }

    .sidebar-highlighted-subtab {
      background-color: map.get($config, selection-color);
      color: map.get($config, menu-text) !important;
    }

    .sidebar-sub-subtab.sidebar-highlighted-subtab {
      background-color: map.get($config, selection-color);
      color: map.get($config, menu-text) !important;
    }

    .sidebar-subtab:hover,
    .sidebar-sub-subtab:hover {
      background: map.get($config, selection-color);
    }

    span.sidebar-version {
      padding-left: 25px;
    }

    .only-visible-when-collapsed {
      display: none;
    }

    $alignedTextMarginLeft: map.get($config, aligned-text-margin-left);

    .sidebar-aligned-text,
    .sidebar-aligned-subtext,
    .sidebar-aligned-sub-subtext {
      margin-left: 1.6rem;
      font-size: 1.6rem;
      line-height: 2.4rem;
      white-space: nowrap;
    }

    .sidebar-aligned-text {
      font-weight: 400;
    }

    .sidebar-aligned-subtext {
      max-width: 15rem;
      font-weight: 300;
    }

    .sidebar-aligned-sub-subtext {
      margin-left: 0.5rem;
      font-weight: 200;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .version {
      max-height: 16px;
      max-width: 100%;
      overflow: hidden;
      cursor: pointer;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .sidebar:not(.sidebar-closed) {
      width: map.get($config, width-open);
    }

    .sidebar.sidebar-closed {
      // collapsed sidebar
      width: map.get($config, width-closed);

      step-dashlet:not(.visible-when-collapsed),
      span:not(.visible-when-collapsed) {
        display: none;
      }

      label::after {
        display: none;
      }

      span.only-visible-when-collapsed {
        display: block;
        visibility: visible;
        font-size: large;
      }

      #sidebar-logo-and-burgermenu {
        width: map.get($config, width-closed);
      }

      #sidebar-home-and-settings {
        width: map.get($config, width-closed);
      }
      #sidebar-categories-tabs {
        margin-bottom: 16px;
      }

      #sidebar-bottom {
        display: none;
      }

      .sidebar-collapsable-tab > label {
        padding-left: 12px;
        padding-right: 12px;
      }

      .sidebar-subtab,
      .sidebar-sub-subtab {
        padding: 0 12px;
      }

      .sidebar-sub-subtab {
        .sidebar-aligned-sub-subtext {
          margin-left: 0;
        }
      }

      // MENU ITEMS TOOLTIPS FOR SMALL SCREEN BEGIN
      .sidebar-collapsable-tab > label:hover > .sidebar-aligned-text,
      .sidebar-subtab:hover > .sidebar-aligned-subtext,
      .sidebar-sub-subtab:hover > .sidebar-aligned-sub-subtext {
        display: flex;
        background: map.get($config, background-color);
        position: fixed;
        align-items: center;
        border-top-right-radius: 0.8rem;
        border-bottom-right-radius: 0.8rem;
        align-self: start;
        max-width: fit-content;
        &::before {
          @include overlay(map.get($config, menu-color));
        }
      }
      .sidebar-collapsable-tab > label:hover {
        display: flex;
        align-items: center;
        & > .sidebar-aligned-text {
          left: 5rem;
          padding-left: 1rem;
          height: $menu-item-height;
          min-width: 16.6rem;
          margin: calc(var(--scrollOffset, 0rem) - 1.4rem) 0 0 0;
          + span {
            display: flex;
            position: fixed;
            left: 20rem;
            height: $menu-item-height;
            align-items: center;
            align-self: start;
            margin: calc(var(--scrollOffset, 0rem) - 1.4rem) 0 0 0;
          }
        }
      }
      .sidebar-subtab:hover > .sidebar-aligned-subtext,
      .sidebar-sub-subtab:hover > .sidebar-aligned-sub-subtext {
        height: $menu-sub-item-height;
        min-width: 16rem;

        &:not(.visible-when-collapsed) {
          left: 5.6rem;
          margin: var(--scrollOffset, 0) 0 0 0;
        }

        &::after {
          @include overlay(map.get($config, selection-color));
        }
      }

      // MENU ITEMS TOOLTIPS FOR SMALL SCREEN END

      & ~ #project-select {
        width: map.get($config, width-closed);
        visibility: hidden;
      }

      #sidebar-home-and-settings > .sidebar-home-and-settings-icon {
        margin-right: 0;
      }

      &.small-screen {
        width: map.get($config, width-closed-small-screen);
        #sidebar-logo-and-burgermenu {
          width: map.get($config, width-closed-small-screen);
        }
        #sidebar-home-and-settings {
          width: map.get($config, width-closed-small-screen);
        }
        & ~ step-tenant-selection-downgraded {
          width: map.get($config, width-closed-small-screen);
        }
        .sidebar-subtab:hover > .sidebar-aligned-subtext {
          left: 4.6rem;
        }
        .sidebar-collapsable-tab > label:hover > .sidebar-aligned-text {
          left: 3.9rem;
        }

        #sidebar-home-and-settings > .sidebar-home-and-settings-icon {
          margin-right: -1.4rem;
        }
      }
    }
  }
}
