@mixin tabbar-icon {
  width: 16px;
  height: 16px;
  margin-left: 11px;
  cursor: pointer;
}

@mixin tabbar($primary-tabs-color) {
  step-tabs,
  .step-tabs {
    &.tab-mode-buttons {
      display: block;

      mat-ink-bar {
        display: none;
      }

      .mat-elevation-z4 {
        box-shadow: none;
      }

      .mat-tab-list {
        display: flex;
        margin-bottom: 10px;
      }

      .mat-tab-links {
        border: solid 1px #f3f5f7;
        border-radius: 8px;
        background: #f9fafa;
        padding: 4px;
      }

      .mat-tab-link {
        margin: 0 8px;
        min-width: 100px;
        text-decoration: none;
        height: 38px;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }

        border-radius: 8px;

        &.mat-tab-label-active {
          background: #fff;
          box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
          font-weight: bold;
        }
      }

      &.shrink {
        .mat-tab-links {
          margin-left: 0;
        }

        .mat-tab-link {
          min-width: 80px;
          padding: 0 8px;
        }
      }
    }

    &.tab-mode-tabs {
      .mat-tab-link {
        min-width: auto;
        padding: 0 10px;
        opacity: 1;
        text-decoration: none;
      }

      step-icon {
        @include tabbar-icon();
      }

      .mat-primary {
        .mat-tab-link.mat-tab-label-active {
          color: $primary-tabs-color;
        }
      }
    }

    .mat-tab-links {
      margin-left: 16px;
    }
  }
}
