@mixin dialogs {
  .mat-mdc-dialog-container {
    .mat-mdc-dialog-surface {
      min-width: 572px;
      box-shadow:
        0px 20px 24px -4px rgba(16, 24, 40, 0.08),
        0px 8px 8px -4px rgba(16, 24, 40, 0.03);
      border-radius: 12px;
    }

    .without-children {
      display: none !important;
    }

    [step-modal-window-subtitle] {
      font-size: 1.5rem;
      font-weight: normal;
    }

    step-modal-window:not(.slim-actions) {
      .mat-mdc-dialog-actions {
        padding: 2.4rem;
      }
    }

    .mat-mdc-dialog-actions {
      step-btn-group {
        flex: 1;
        display: flex;

        section {
          flex: 1;
          display: flex;

          [step-modal-window-buttons] {
            flex: 1;
            display: flex;
            gap: 12px;
          }
        }

        .mat-mdc-unelevated-button,
        .mat-mdc-outlined-button {
          flex: 1;
          border-radius: 8px;
          height: 36px;
        }

        .mat-mdc-button-base + .mat-mdc-button-base {
          margin-left: 0;
        }
      }
    }
  }

  .cdk-overlay-dark-backdrop {
    background: rgba(0, 0, 0, 0.12);
  }
}
