@use 'sass:map';
@use '../core-variables' as var;

@function step-define-inputs-config(
  $primary-color: #0082cb,
  $primary-text-color: #293e50,
  $border-color: #d0d5dd,
  $error-color: #ff0000,
  $warning-color: #ff8f4b
) {
  $config: (
    primary-color: $primary-color,
    primary-text-color: $primary-text-color,
    border-color: $border-color,
    error-color: $error-color,
    warning-color: $warning-color,
  );

  @return $config;
}

@mixin border-base {
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
}

@mixin left-border {
  border-left-width: 1px;
  border-left-style: solid;
}

@mixin left-border-round($border-radius) {
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
}

@mixin right-border {
  border-right-width: 1px;
  border-right-style: solid;
}

@mixin right-border-round($border-radius) {
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

@mixin highlight($highlight-color) {
  step-select,
  mat-select,
  input,
  pre,
  step-array-input,
  step-password,
  step-simple-object-input,
  step-autocomplete-input,
  mat-date-range-input,
  step-rich-editor,
  textarea {
    border-color: $highlight-color;
  }

  & > .label-container {
    & > label,
    .required-marker-container {
      color: $highlight-color;
    }
  }

  & > .form-field-content {
    & > step-select,
    & > mat-select,
    & > step-multi-level-select,
    & > input,
    & > pre,
    & > step-array-input,
    & > step-password,
    & > step-simple-object-input,
    & > step-autocomplete-input,
    & > mat-date-range-input,
    & > step-rich-editor,
    & > textarea {
      border-color: $highlight-color;
    }

    & > step-suffix,
    & > step-prefix {
      border-color: $highlight-color;
    }
    & > step-suffix.icon-suffix,
    & > step-prefix.icon-prefix {
      step-icon {
        color: $highlight-color;
      }
    }
  }
}

@mixin step-form-field($config) {
  $primary-color: map.get($config, primary-color);
  $primary-text-color: map.get($config, primary-text-color);
  $border-color: map.get($config, border-color);
  $error-color: map.get($config, error-color);
  $warning-color: map.get($config, warning-color);

  step-label {
    &[show-required-marker]::after {
      content: '*';
      display: inline-block;
      margin-left: 0.4rem;
    }
  }

  step-form-field {
    --form-field-border-radius: 0.8rem;

    display: flex;
    flex-direction: column;
    line-height: 1;
    gap: 0.4rem;

    & > .label-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.5rem;

      &.without-children {
        display: none;
      }

      & > .label-addon:empty {
        display: none;
      }

      .required-marker-container {
        flex-grow: 1;
        font-size: 1.2rem;
        line-height: 0.2rem;
        font-weight: 800;
        letter-spacing: 0.07rem;
        color: var.$muted;
        padding-left: 0.5rem;
        padding-top: 0.1rem;
        user-select: none;
      }

      &:not(.show-required-marker) > .required-marker-container > span {
        display: none;
      }

      &.align-left,
      &.align-fill {
        & > .label-addon {
          order: 1;
        }
        & > .required-marker-container {
          order: 2;
        }
      }

      &.align-fill {
        & > .label-addon {
          flex-grow: 1;
        }
        & > .required-marker-container {
          flex-grow: 0;
        }
      }

      & > label {
        color: $primary-text-color;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        pointer-events: all;
        padding-bottom: 0;
      }
    }

    &:focus-within,
    &.step-force-focus {
      &:not(.no-label-focus) > .label-container > label {
        color: $primary-color;
        step-label {
          &[show-required-marker]::after {
            color: $error-color;
          }
        }
      }
      & > .form-field-content {
        & > step-select,
        & > mat-select,
        & > step-multi-level-select,
        & > mat-radio-group,
        & > mat-date-range-input,
        & > .step-checkbox-container,
        & > .step-field-container,
        & > input,
        & > pre,
        & > step-array-input,
        & > step-password,
        & > step-simple-object-input,
        & > step-autocomplete-input,
        & > step-rich-editor,
        & > textarea,
        & > step-suffix,
        & > step-prefix {
          border-color: $primary-color;
        }

        & > step-suffix,
        & > step-prefix {
          &:has(button[mat-flat-button].mat-primary) {
            border: hidden;
          }
        }

        & > step-suffix.icon-suffix,
        & > step-prefix.icon-prefix {
          step-icon {
            color: $primary-color;
          }
        }
      }
    }

    &.ng-invalid.ng-touched {
      @include highlight($error-color);
    }

    &.step-has-warnings:not(.ng-invalid).ng-touched {
      @include highlight($warning-color);
    }

    .form-field-content {
      display: inline-flex;
      width: 100%;

      & > step-select,
      & > mat-select,
      & > step-multi-level-select,
      & > mat-radio-group,
      & > mat-date-range-input,
      & > .step-checkbox-container,
      & > .step-field-container,
      & > input,
      & > pre,
      & > step-array-input,
      & > step-password,
      & > step-simple-object-input,
      & > step-autocomplete-input,
      & > step-rich-editor,
      & > textarea {
        border-color: $border-color;
        font-weight: 400;
        padding: 0.8rem 1.4rem;
        line-height: 1.8rem;
        margin-top: 0;
        margin-bottom: 0;
        box-sizing: border-box;
        outline: none;
        &[disabled] {
          background-color: var.$gray-100;
        }
      }

      & > step-rich-editor {
        padding: 0;
        & > div {
          border-radius: var(--form-field-border-radius);
        }
      }

      & > mat-radio-group {
        padding: 0.7rem 1.4rem 0.4rem 1.4rem;
        display: flex;
        gap: 1rem;
      }

      & > mat-date-range-input .mat-date-range-input-container input {
        padding: 0;
      }

      & > step-select,
      & > mat-select,
      & > step-multi-level-select,
      & > mat-radio-group,
      & > mat-date-range-input,
      & > .step-checkbox-container,
      & > .step-field-container,
      & > input,
      pre,
      step-array-input,
      step-password,
      step-simple-object-input,
      step-autocomplete-input,
      step-rich-editor,
      textarea {
        @include border-base;
        @include right-border;
        @include left-border;
        width: 130px;
        flex: auto;
      }

      & > step-suffix + input {
        border-left: none;
      }

      & > *:first-child {
        @include left-border-round(var(--form-field-border-radius));
      }
      & > *:last-child {
        @include right-border-round(var(--form-field-border-radius));
      }

      step-prefix,
      step-suffix {
        @include border-base;
        border-color: $border-color;
        border-radius: 0;
        display: flex;
        align-items: center;
        max-width: 200px;
        padding: 0 12px;
      }

      step-prefix {
        border-right: none;
        @include left-border;
      }
      step-suffix {
        border-left: none;
        @include right-border;
      }

      step-suffix.icon-suffix,
      step-prefix.icon-prefix {
        padding: 0 8px;
      }

      step-suffix.button-suffix,
      step-prefix.button-prefix {
        padding: 0;
        & > button,
        & > a {
          border: none;
          padding: 0 8px;
          min-width: auto;
          border-radius: 0;
          height: 100%;
          step-icon {
            display: flex;
          }
        }
      }

      step-prefix.button-prefix:first-child {
        & > button,
        & > a {
          @include left-border-round(var(--form-field-border-radius));
        }
      }
      step-suffix.button-suffix:last-child {
        & > button,
        & > a {
          @include right-border-round(var(--form-field-border-radius));
        }
      }
    }

    .form-field-error,
    .form-field-warning,
    .form-field-hint {
      font-size: 1.2rem;

      &:empty {
        display: none;
      }
    }

    .form-field-warning {
      color: $warning-color;
    }

    .form-field-error {
      color: $error-color;
    }

    .form-field-warning,
    .form-field-error {
      &:not(:empty) ~ .form-field-hint {
        display: none;
      }
    }
  }
}

@mixin step-form-field-vertical-layout {
  step-form-field:not(:last-child) {
    padding-bottom: 20px;
  }
}

@mixin inputs($config: null) {
  @if not $config {
    $config: step-define-inputs-config();
  }

  @include step-form-field($config);
}
