@mixin tabbar($primary-tabs-color) {
  step-tabs {
    &.tab-mode-buttons {
      display: block;

      mat-ink-bar {
        display: none;
      }

      .mat-tab-list {
        display: flex;
        margin-bottom: 10px;
      }

      .mat-tab-links {
        border: solid 1px #f3f5f7;
        border-radius: 8px;
        background: #f9fafa;
        padding: 4px;
      }

      .mat-tab-link {
        margin: 0 8px;
        min-width: 100px;
        text-decoration: none;
        height: 38px;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }

        border-radius: 8px;

        &.mat-tab-label-active {
          background: #fff;
          box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
          color: #000;
          font-weight: bold;
        }
      }
    }

    &.tab-mode-tabs {
      .mat-tab-link {
        min-width: auto;
        padding: 0 10px;
        opacity: 1;
        text-decoration: none;
      }

      .mat-primary {
        .mat-tab-link.mat-tab-label-active {
          color: $primary-tabs-color;
        }
      }
    }

    .mat-tab-links {
      margin-left: 16px;
    }
  }

  .step-legacy-tabs {
    // temporary solution.
    // these class and it's color configuration should be a part of custom material theme

    .mat-tab-links {
      margin-left: 16px;
    }

    &.mat-primary {
      .mat-tab-link.mat-tab-label-active {
        span,
        .mat-icon-close {
          color: $primary-tabs-color;
        }
      }
    }

    .mat-tab-link {
      min-width: auto;
      padding: 0 10px;
      opacity: 1;
    }

    execution-result {
      margin-right: 11px;
    }

    .mat-icon.mat-icon-close {
      font-size: 16px;
      width: 16px;
      height: 16px;
      margin-left: 11px;
      cursor: pointer;
    }
  }
}
