@use '../core-variables' as var;

@mixin table-container {
  max-height: 100%;
  display: block;
  position: relative;
}

@mixin table-header {
  display: flex;
  justify-content: flex-end;
  padding: 0 8px;

  step-btn-group {
    margin-left: 1rem;
  }
}

@mixin table-common-cells {
  .cell-actions {
    width: 20rem;
    button {
      padding: 0;
      min-width: 4rem;
      min-height: 4rem;
    }
  }

  .automation-package-cell {
    width: 3rem;
  }

  .bulk-selection-cell {
    width: 6rem;
  }
}

@mixin table-settings-buttons-container {
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  button.mat-mdc-icon-button {
    width: 1.6rem !important;
    height: 1.6rem !important;
    .mat-mdc-button-touch-target {
      top: 0;
      left: 0;
      width: 1.6rem !important;
      height: 1.6rem !important;
    }
  }
}

@mixin paddingless-sides {
  th.mat-mdc-header-cell:first-of-type,
  td.mat-mdc-cell:first-of-type,
  td.mat-mdc-footer-cell:first-of-type {
    padding-left: 0;
  }

  th.mat-mdc-header-cell:last-of-type,
  td.mat-mdc-cell:last-of-type,
  td.mat-mdc-footer-cell:last-of-type {
    padding-right: 0;
  }
}

@mixin paddingless-edges {
  th.mat-mdc-header-cell,
  td.mat-mdc-cell,
  td.mat-mdc-footer-cell {
    padding-top: 0;
    padding-bottom: 0;
  }
}

step-table {
  &.hide-header {
    thead {
      display: none;
    }
  }

  &:not(.no-highlight) {
    tr.row-highlight,
    tr.content-row:hover {
      background: var.$highlight !important;
    }
  }

  th.mat-mdc-header-cell,
  td.mat-mdc-cell,
  td.mat-mdc-footer-cell {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 1.2rem;
  }

  &:not(.paddingless):not(.paddingless-full) {
    tr > td.mat-mdc-cell:not(:first-of-type):not(:last-of-type):not(.mat-mdc-column-actions),
    tr > th.mat-mdc-header-cell:not(:first-of-type):not(:last-of-type):not(.mat-mdc-column-actions) {
      padding: 8px;
    }

    tr > td.mat-mdc-cell:first-of-type:not(.mat-mdc-column-actions),
    tr > th.mat-mdc-header-cell:first-of-type:not(.mat-mdc-column-actions) {
      padding: 8px 8px 8px 24px;
    }

    tr > td.mat-mdc-cell:last-of-type:not(.mat-mdc-column-actions),
    tr > th.mat-mdc-header-cell:last-of-type:not(.mat-mdc-column-actions) {
      padding: 8px 24px 8px 8px;
    }
  }

  &.paddingless {
    @include paddingless-sides;
  }

  &.paddingless-full {
    @include paddingless-sides;
    @include paddingless-edges;
  }

  &.no-border {
    td,
    th {
      border: none;
    }
  }

  th.actions-column-settings-container .header-cell-container {
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 2rem;
  }

  table {
    @for $i from 1 to 100 {
      &.drag-col-#{$i} {
        tr > th,
        tr > td {
          &:nth-child(#{$i}) {
            background: var.$highlight !important;
          }
        }
      }
      &.drag-over-col-left-#{$i} {
        tr > th,
        tr > td {
          &:nth-child(#{$i}) {
            border-left: solid 0.2rem var.$dark-blue !important;
          }
        }
      }
      &.drag-over-col-right-#{$i} {
        tr > th,
        tr > td {
          &:nth-child(#{$i}) {
            border-right: solid 0.2rem var.$dark-blue !important;
          }
        }
      }
    }
  }
}
