@use '../core-variables' as var;

@mixin skeleton-background {
  border-radius: 0.5rem;
  background: var.$white;
  position: relative;
}

@mixin skeleton-content {
  content: ' ';
  display: block;
  position: absolute;
  margin: 0.8rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0.5rem;
  background: linear-gradient(90deg, rgba(var.$black, 0) 0%, rgba(var.$black, 0.2) 50%, rgba(var.$black, 0) 100%);
  background-size: 200% 100%;
  background-position: 100% 50%;
  z-index: 1;
  animation: skeleton-progress 1.5s infinite;
}

@mixin skeleton-animations {
  @keyframes skeleton-progress {
    to {
      background-position: -100% 50%;
    }
  }

  @keyframes skeleton-opacity {
    0% {
      opacity: 1;
      visibility: visible;
    }
    99% {
      opacity: 0;
      visibility: visible;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }

  @keyframes content-fade-out {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
