@mixin step-icon-size($size, $with-important: false) {
  @if $with-important {
    width: $size !important;
    height: $size !important;
    min-width: $size !important;
    min-height: $size !important;
  } @else {
    width: $size;
    height: $size;
    min-width: $size;
    min-height: $size;
  }
}

@mixin step-icon($size: 20px, $offset: 6px) {
  step-icon {
    display: inline-block;
    @include step-icon-size($size);
    fill: none;
    stroke: currentColor;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    vertical-align: middle;

    svg {
      width: inherit !important;
      height: inherit !important;
    }
  }

  .mat-mdc-menu-item > step-icon {
    vertical-align: top;
    margin: $offset $offset 0 0;
  }

  .mat-mdc-button > step-icon {
    vertical-align: text-bottom;
  }

  .mat-mdc-icon-button > step-icon {
    vertical-align: top;
    margin-top: $offset;
  }
}
