@use 'sass:map';

@use 'default-colors' as dc;
$default-color: dc.default-colors();

@function step-define-header-config(
  $main-background-color: map.get($default-color, main-header-bg-color),
  $main-text-color: map.get($default-color, main-header-color),
  $alt-background-color: #fff
) {
  $config: (
    main-background-color: $main-background-color,
    main-text-color: $main-text-color,
    alt-background-color: $alt-background-color,
  );

  @return $config;
}

@mixin header($config: null) {
  @if not $config {
    $config: step-define-header-config();
  }

  .header-read-only {
    &::after {
      content: '';
      border-top: 0.3rem solid #fec105;
      border-left: 0.3rem solid #fec105;
    }
  }

  header.app-header {
    background-color: map.get($config, main-background-color);
    position: relative;

    section.content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 3.2rem;
    }

    .app-header-nav {
      margin: 0.6rem 2rem;
      list-style-type: none;
      display: flex;
      gap: 1rem;

      a {
        color: map.get($config, main-text-color);
        user-select: none;
        background: none !important;
      }
    }

    &::after {
      content: ' ';
      display: block;
      width: 100%;
      background-color: map.get($config, alt-background-color);
      border-top-left-radius: 1.6rem;
      height: 1.6rem;
    }
  }
}
