@use '../core-variables' as var;

@mixin table-container {
  max-height: 100%;
  display: block;
  position: relative;
}

@mixin table-header {
  display: flex;
  justify-content: flex-end;
  padding: 0 8px;

  step-btn-group {
    margin-left: 1rem;
  }
}

@mixin table-common-cells {
  .cell-actions {
    width: 20rem;
    button {
      padding: 0;
      min-width: 4rem;
      min-height: 4rem;
    }
  }

  .automation-package-cell {
    width: 3rem;
  }

  .bulk-selection-cell {
    width: 6rem;
  }
}

step-table {
  tr.row-highlight,
  tr.content-row:hover {
    background: var.$highlight !important;
  }

  th.mat-header-cell,
  td.mat-cell,
  td.mat-footer-cell {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  &:not(.paddingless) {
    tr > td.mat-cell:not(:first-of-type):not(:last-of-type):not(.mat-column-actions),
    tr > th.mat-header-cell:not(:first-of-type):not(:last-of-type):not(.mat-column-actions) {
      padding: 8px;
    }

    tr > td.mat-cell:first-of-type:not(.mat-column-actions),
    tr > th.mat-header-cell:first-of-type:not(.mat-column-actions) {
      padding: 8px 8px 8px 24px;
    }

    tr > td.mat-cell:last-of-type:not(.mat-column-actions),
    tr > th.mat-header-cell:last-of-type:not(.mat-column-actions) {
      padding: 8px 24px 8px 8px;
    }
  }

  &.paddingless {
    th.mat-header-cell:first-of-type,
    td.mat-cell:first-of-type,
    td.mat-footer-cell:first-of-type {
      padding-left: 0;
    }

    th.mat-header-cell:last-of-type,
    td.mat-cell:last-of-type,
    td.mat-footer-cell:last-of-type {
      padding-right: 0;
    }
  }
}
