@use '@angular/material' as mat;
@use 'sass:map';
@use 'step-tabs';
@use 'step-ts-marker';
@use 'step-sidebar';
@use 'step-header';
@use 'step-icon';
@use 'step-inputs';
@use 'step-login';
@use 'step-dialogs';
@use 'step-buttons';
@use 'step-menu';
@use 'step-select';
@use 'step-datepicker';
@use 'step-alert';
@use 'step-tooltip';
@use 'print';
@use 'material-overrides' as mat-ov;
@use '../core-variables' as var;

@forward 'step-sidebar' show step-define-sidebar-config;
@forward 'step-login' show step-define-login-config;
@forward 'step-header' show step-define-header-config;
@forward 'step-alert' show step-define-alert-color, step-alert-colors;

$dark-primary-text: var.$blue-700;
$light-primary-text: var.$white;

@function extend-mat-theme($theme, $overrides) {
  $color: map.get($theme, color);
  $foreground: map.get($color, foreground);

  $foreground-ext: map.merge(
    $foreground,
    (
      secondary-text: map.get($overrides, secondary-text),
      base: map.get($overrides, base),
      icon: map.get($overrides, icon),
      text: map.get($overrides, text),
    )
  );

  $result-color: map.merge(
    $color,
    (
      foreground: $foreground-ext,
    )
  );

  $result: map.merge(
    $theme,
    (
      color: $result-color,
    )
  );

  @return $result;
}

@function step-default-primary-palette() {
  $step-palette: (
    50: #e6f3fa,
    100: #b3daf0,
    200: #80c0e6,
    300: #4da8dc,
    400: #339bd7,
    500: #0082cb,
    600: #005180,
    700: #004166,
    800: #00304c,
    900: #002033,
    contrast: (
      50: $dark-primary-text,
      100: $dark-primary-text,
      200: $dark-primary-text,
      300: $dark-primary-text,
      400: $dark-primary-text,
      500: $light-primary-text,
      600: $light-primary-text,
      700: $light-primary-text,
      800: $light-primary-text,
      900: $light-primary-text,
    ),
  );

  @return mat.define-palette($step-palette, 500);
}

@function step-default-typography() {
  $result: mat.define-typography-config(
    $font-family: 'Roboto',
    $body-1: mat.define-typography-level(12px, 16px, 400),
    $body-2: mat.define-typography-level(14px, 20px, 500),
    $button: mat.define-typography-level(14px, 20px, 500),
  );

  @return $result;
}

@mixin step-theme(
  $text-color: $dark-primary-text,
  $mat-primary-palette: null,
  $mat-typography-config: null,
  $mat-accent-palette: null,
  $mat-warn-palette: null,
  $step-sidebar-config: null,
  $step-header-config: null,
  $step-login-config: null
) {
  @if not $mat-primary-palette {
    $mat-primary-palette: step-default-primary-palette();
  }

  @if not $mat-typography-config {
    $mat-typography-config: step-default-typography();
  }

  @if not $mat-accent-palette {
    $mat-accent-palette: mat.define-palette(mat.$pink-palette);
  }

  @if not $mat-warn-palette {
    $mat-warn-palette: mat.define-palette(mat.$red-palette);
  }

  $mat-theme: mat.define-light-theme(
    (
      color: (
        primary: $mat-primary-palette,
        accent: $mat-accent-palette,
        warn: $mat-warn-palette,
      ),
      typograhpy: $mat-typography-config,
      density: 0,
    )
  );

  $mat-theme-ext: extend-mat-theme(
    $mat-theme,
    (
      secondary-text: $text-color,
      base: $text-color,
      icon: $text-color,
      text: $text-color,
    )
  );

  font-family: map-get($mat-typography-config, font-family);
  @include mat.core();
  @include mat.all-component-themes($mat-theme-ext);
  @include mat.dialog-typography($mat-typography-config);
  @include mat.card-typography($mat-typography-config);

  $primary-color: map-get($mat-primary-palette, default);

  @include step-tabs.tabbar($primary-color);
  @include step-sidebar.sidebar($step-sidebar-config);
  @include step-header.header($step-header-config);

  $inputs-config: step-inputs.step-define-inputs-config(
    $primary-color: $primary-color,
  );

  @include step-inputs.inputs($inputs-config);

  @include step-login.login-page($step-login-config, $mat-primary-palette);

  @include step-dialogs.dialogs();
  @include step-buttons.buttons();
  @include step-menu.menu();
  @include step-select.step-select-clear-value();
  @include step-datepicker.datepicker();
  @include step-alert.step-alert();
  @include step-tooltip.tooltip($text-color);
  @include step-ts-marker.timeseries-marker();

  .mat-mdc-snack-bar-container .mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled) {
    color: var.$blue-600;
  }

  .cdk-overlay-pane {
    z-index: 1050;
    padding-top: 8px;
    min-width: fit-content !important;
  }

  &.modal-open .cdk-overlay-container {
    z-index: 1050;
  }

  color: $text-color;
  line-height: 16px;

  .mat-mdc-select-panel {
    max-height: 50vh !important;
  }

  .mat-mdc-mini-fab {
    box-shadow: none !important;
    width: 3.6rem;
    height: 3.6rem;
  }

  .mat-mdc-icon-button.mat-mdc-button-base {
    width: 4rem;
    height: 4rem;
    padding: 0;
  }

  .mat-mdc-button-base {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    step-icon {
      display: flex;
      margin-top: 0 !important;
    }
  }

  @include step-icon.step-icon();

  step-dynamic-field,
  step-dynamic-textfield,
  step-dynamic-checkbox,
  step-dynamic-time-input,
  step-expression-input,
  step-resource-input {
    .mat-mdc-button-base {
      @include step-icon.step-icon(16px);
    }
  }

  .btn-xs {
    @include step-icon.step-icon(12px);
    step-icon {
      vertical-align: text-top;
    }
  }
  .btn-sm,
  .btn-auto-size,
  a:not([mat-menu-item]):not([mat-icon-button]):not([mat-mini-fab]) {
    @include step-icon.step-icon(16px);
    step-icon {
      vertical-align: top;
    }
  }

  step-label > step-icon {
    @include step-icon.step-icon-size(18px);
    vertical-align: text-top;
  }

  a[disabled] {
    pointer-events: none;
  }

  tbody .form-group {
    margin-bottom: 15px;
  }

  @include mat-ov.material-overrides($primary-color);

  label {
    margin: 0;
    padding: 0;
  }

  [step-modal-window-body] {
    // a scrollbar sometimes appears due to an unknown reason, adding 1px padding-bottom seems to fix it
    // TODO: investigate why is it happening
    padding-bottom: 1px;
  }

  @include print.print-overrides;
}
