<div class="container-fluid account-container" id="MyAccountCtrl">
	<h3 class="page-header">My account</h3>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>Credentials</h4>
		</div>
		<div class="panel-body">
			<span class="text-grey">Username </span>
			<span>{{user.username}}</span>
			<div class="pull-right">
				<a class="btn btn-success" (click)="changePwd()">Change password</a>
			</div>
		</div>
		<div class="panel-body">
			<label for="generate-key" class="text-grey generate-key">Api key </label>
			<div class="pull-right">
				<a class="btn btn-success" id="generate-key" (click)="invokeShowGenerateApiKeyDialog()">Generate new Key</a>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>Role</h4>
		</div>
		<div class="panel-body">
			<div >
				<span class="text-grey">Role </span>
				<span>{{user.role}}</span>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
				<h4>Preferences 
				<button style="float:right;" class="btn btn-default btn-sm" (click)="addPreference()">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				</button>
				</h4>
		</div>
		<div class="panel-body">
			<table class="table">
				<thead>
				<tr><th>Key</th><th>Value</th></tr>
				</thead>
				<tbody>
					<tr *ngFor="let pref of preferences" >
						<td >
							<input class="form-control" class="w-100" [(ngModel)]="pref.key" placeholder="Key" (blur)="savePreferences()"> 
						</td>
						<td>
							<input class="form-control" class="w-100" [(ngModel)]="pref.value" placeholder="Value" (blur)="savePreferences()">
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>